@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #289db9;
  --color-secondary: #3f5965;
  --color-primary-content: #289cb93f;
}

*{
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.exo2{
  font-family: "Exo 2", sans-serif;
}

button{
  cursor: pointer;
}

a.active{
  color: #289db9;
}

.multistep {
  width: 100% !important;       /* force full width */
  max-width: none !important;   /* remove max width */
  min-width: 0 !important;      /* reset min width */
}

.multistep ol {
  width: 100% !important;       /* let ol take full width */
  display: flex !important;      /* use flex so li's arrange horizontally */
  justify-content: space-between !important; /* space out li steps */
  padding-left: 0 !important;    /* reset default padding */
}

.multistep ol li {
  flex: 1 1 auto !important;     /* allow each step li to grow */
  max-width: none !important;    /* remove max width limit */
  min-width: 0 !important;       /* reset min width */
  width: auto !important;        /* remove fixed width */
}
